<div class="container admin">
  <div class="alert alert-info" *ngIf="!admins">
    <strong>Info!</strong> Aun no hay administradores
  </div>
  <div class="list-group">
    <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let admin of admins; let i = index ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{admin.username}}</h5>
        <div class="col-md-6">
          <button type="button" name="button" [ngClass]="{ hide : activeIndex === i}" (click)="activeIndex = i" class="btn btn-warning">Eliminar</button>
          <button type="button" name="button" [ngClass]="{ show : activeIndex === i}" (click)="activeIndex = i; delete(admin._id)" class="hide btn btn-danger animated fadeInRight fast">Confirmar</button>
        </div>
      </div>
      <p class="mb-1">{{admin._id}}</p>
    </li>
  </div>
</div>
