<div class="container-fluid animated fadeIn fast">
    <div class="row">
        <div class="col-md-6 col-12">
          <div class="imgContainer">
            <img src="../../../assets/img/landing_tomato.png" alt="" class="imgHeader rounded-circle">
          </div>
        </div>
        <div class="col-md-6 col-12">
          <p>
            La tecnología es uno de los pilares mas importantes para el desarrollo de un pais,
            como clúster tecnologico, favorecemos el desarrollo económico nacional a través de la inovación
            científica y tecnológica.
          </p>
        </div>
        <div class="col-12">
          <div class="container">
            El cluster tiene cinco estrategias claves de acción
            <ul>
              <li>
                Impulso tecnologico en los distintos sectores economicos de México.
              </li>
              <li>
                Eduación basada en la Competencias Internacionales.
              </li>
              <li>
                Integración y Formalizada de empresas y emprendedores.
              </li>
              <li>
                Apoyo a la comercialización de productos y servicios mediante vínculos nacionales e internacionales.
              </li>
              <li>
                Sencibilidad a las necesidades de la comuniad.
              </li>
            </ul>
          </div>
        </div>
        <div class="col-10">
          Empresas Asociadas
        </div>
        <div class="col-2" (click)="all()" >
          Ver Todas
        </div>
        <div class="col-12 col-md-3" *ngFor="let c of companies" (click)="company(c.name)" >
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="imgContainer">
                <img src="../../../assets/img/3.jpg" alt="">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <p class="text-center">
                {{c.name}} <br>
                {{c.adress.state}} <br>
                {{c.adress.street}} <br>
              </p>
            </div>
          </div>
        </div>
      </div>
</div>

