html{
  height: 100%;
  font-family: 'Roboto', sans-serif;

}

body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
}

.fast{
  animation-duration: .3s ;
}

.fill {
    min-height: 100%;
    height: 100%;
}


button{
  cursor: pointer;
}

/* .card{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} */
