<div class="container admin animated zoomIn fast">
  <form [formGroup] = "form" (submit)="onSubmit()">
  <div class="form-group">
    <label for="city">Ciudad</label>
    <!-- <input type="text" class="form-control" id="city" formControlName="city"> -->
    <select name="city" class="form-control" formControlName="city">
      <option [value]="city.name" *ngFor="let city of cities" >{{city.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" formControlName="name">
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!form.valid">Enviar</button>
</form>
<div class="show-hide-message" role="alert">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>
</div>
