.imgContainer img{
  width: 100%;
  height: 100%;
  border: .1px solid #bdbdbd;
  z-index: 2;
}

.imgContainer .img {
  width: 100%;
  height: 25vh;
  border: .1px solid #bdbdbd;
  z-index: 2;
}

.imgContainer{
  top: -15vh;
  left: 2vw;
  height: 25vh;
}

.searchImg .img img{
  width: 90%;
  height: 30vh;
  border: .1px solid #bdbdbd;
  z-index: 2;
}



.imgContainerL{
  height: 35vh;
}



.logMovil img{
  width: 50%;
  height: 20%;
}



.letter{
  font-size: 440%;
  margin-top: 20%;
}

.marginBot{
  margin-bottom: 10px;
  border-bottom: 2px solid #bdbdbd;
}

.tabOption{
  transition: all .5s ease;
  border-bottom: 2px solid white;
  cursor: pointer;
  padding-bottom: 15px;
}
.clientesTab:hover{
  border-bottom: 2px solid #00aced;
}
.moreTab:hover{
  border-bottom: 2px solid #00aced;
}
.trabajosTab:hover{
  border-bottom: 2px solid #00aced;
}
.empleadosTab:hover{
  border-bottom: 2px solid #00aced;
}

.imgCenter{
  margin-left: 13%;
}

.selected{
  border-bottom: 2px solid #00aced;
}

.imgContainer .imgClient img{
  width: 100%;
  height: 100%;
}

.imgContainer .imgPlus img{
  width: 100%;
  
}



.options{
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 5%;
}

.logo{
  position: relative;
  top: 25%;
}

.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}

@media only screen and (max-width: 767px){
  .options{
    margin-bottom: 10%;
  }
  .logo{
    top: 30%;
  }
  .letter{
    margin-top: 0%;
  }
}

@media only screen and (max-width: 576px){
  .options{
    margin-bottom: 10%;
  }
  .logo{
    top: 40%;
  }
  .letter{
    margin-top: 0%;
  }
}

@media only screen and (max-width: 420px){
  .container-fluid{
    margin-bottom: 40px;
  }
  .options{
    margin-bottom: 10%;
  }
  .logo{
    top: 60%;
  }
  .letter{
    margin-top: 0%;
  }
}