<div class="alert alert-info" *ngIf="!loaded">
  <strong>Ops!</strong> Empresa no encontrada
</div>
<div class="container-fluid " *ngIf="loaded">
  <div [ngStyle]="{background:'url(./assets/img/companies/' + backgroundImage + ')'}" class="row  hidden-sm-down">
      
    <div class="col-4 col-sm-4 col-md-3">
      <div class="imgContainer imgContainerL logo">
        <img class="rounded-circle " src="./assets/img/companies/{{company.imageUrl}}" alt="" *ngIf="company.imageUrl != 'default'">
        <img src="../../../assets/img/default_logo_company.png" alt="" *ngIf="company.imageUrl == 'default'" class="rounded-circle">
      </div>
    </div>

      <div class="col-3 offset-6 text-right" *ngIf="own">
          <label class="btn btn-info" style="margin-top:8px">
              <i class="fa fa-upload" aria-hidden="true"></i>
              <input style="display:none" type="file" name="photo" ng2FileSelect [uploader]='uploaderBack' class="uploadPhoto" #file2>
            </label>
        <button type="button" class="btn btn-success" (click)="uploaderBack.uploadAll()" [disabled]="!uploaderBack.getNotUploadedItems().length">
          Actualizar
        </button>
      </div>
  </div>
  <div [ngStyle]="{background:'url(./assets/img/companies/' + backgroundImage + ')'}" class="row  hidden-md-up logMovil justify-content-center">
      <div class="col-12">
          <label class="btn btn-info" style="margin-top:8px">
              <i class="fa fa-upload" aria-hidden="true"></i>
              <input style="display:none" type="file" name="photo" ng2FileSelect [uploader]='uploaderBack' class="uploadPhoto" #file2>
            </label>
        <button type="button" class="btn btn-success" (click)="uploaderBack.uploadAll()" [disabled]="!uploaderBack.getNotUploadedItems().length">
          Actualizar
        </button>
      </div>
    <img class="rounded-circle hidden-md-up" src="./assets/img/companies/{{company.imageUrl}}" alt="" *ngIf="company.imageUrl != 'default'">
    <img src="../../../assets/img/default_logo_company.png" alt="" *ngIf="company.imageUrl == 'default'" class="rounded-circle ">
  </div>
  <div class="row options">
    <div class="col-4 col-md-3 d-none d-md-block d-lg-block d-xl-block"></div>
    <div class="col-12 col-md-9">
      <div class="row">
        <div class="col-md-3 hidden-sm-down tabOption clientesTab text-center" *ngFor="let o of tabsOptions; let i = index" [ngClass]="{selected: activeIndex === i}"
          (click)="activeIndex = i; optionSelected(i)">{{o}}</div>
        <div class="col-3 hidden-md-up tabOption clientesTab text-center" *ngFor="let o of tabsOptions; let i = index" [ngClass]="{selected: activeIndex === i}"
          (click)="activeIndex = i; optionSelected(i)">
          <i class="fa {{icons[i]}}" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="row">
        <div *ngIf="own" class="row">
          <div class="col-8">
            <label class="btn btn-info btn-block">
              <i class="fa fa-upload" aria-hidden="true"></i>
              <input style="display:none" type="file" name="photo" ng2FileSelect [uploader]='uploader' class="uploadPhoto" #file>
            </label>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              Actualizar
            </button>
          </div>
        </div>
      </div>
      <div class="row hidden-sm-down">
        <div class="col-3">
          <i class="fa fa-user-circle-o col-12 text-center" aria-hidden="true"></i>
        </div>
        <div class="col-9 marginBot">{{company.name}}</div>
        <div class="col-3">
          <i class="fa fa-envelope col-12 text-center" aria-hidden="true"></i>
        </div>
        <div class="col-9 marginBot">{{company.email}}</div>
        <div class="col-3">
          <i class="fa fa-address-card col-12 text-center" aria-hidden="true"></i>
        </div>
        <div class="col-9 marginBot">{{company.user}}</div>
        <div class="col-3">
          <i class="fa fa-map-marker col-12 text-center" aria-hidden="true"></i>
        </div>
        <div class="col-9 marginBot">Direccion:</div>
        <div class="col-3"></div>
        <div class="col-9 marginBot">
          <p>
            Pais: {{company.adress.country}}
            <br> Estado: {{company.adress.state}}
            <br> Calle: {{company.adress.street}}
            <br> #: {{company.adress.number}}
            <br>
          </p>
        </div>
        <br>
        <div class="col-3">
          <i class="fa fa-phone col-12 text-center" aria-hidden="true"></i>
        </div>
        <div class="col-9 marginBot">Numero(s):</div>
        <div class="col-3"></div>
        <div class="col-9 marginBot">
          <p>
            Telefono: {{company.number.phone}}
            <br> Celular: {{company.number.cellphone}}
            <br>
          </p>
        </div>
        <br>
        <div class="col-3">
          <i class="fa fa-tags col-12 text-center" aria-hidden="true"></i>
        </div>
        <div class="col-9">Servicios:</div>
        <div class="col-3"></div>
        <div class="col-9">
          <p>
            {{company.services}}
          </p>
        </div>
        <br>
      </div>
      <div class="row" *ngIf="option === 0">
        <div class="col-3">
          <i class="fa fa-user-circle-o col-12 text-center" aria-hidden="true"></i>
        </div>
        <div class="col-9 marginBot">{{company.name}}</div>
        <div class="col-3">
          <i class="fa fa-envelope col-12 text-center" aria-hidden="true"></i>
        </div>
        <div class="col-9 marginBot">{{company.email}}</div>
        <div class="col-3">
          <i class="fa fa-address-card col-12 text-center" aria-hidden="true"></i>
        </div>
        <div class="col-9 marginBot">{{company.user}}</div>
        <div class="col-3">
          <i class="fa fa-map-marker col-12 text-center" aria-hidden="true"></i>
        </div>
        <div class="col-9 marginBot">Direccion:</div>
        <div class="col-3"></div>
        <div class="col-9 marginBot">
          <p>
            Pais: {{company.adress.country}}
            <br> Estado: {{company.adress.state}}
            <br> Calle: {{company.adress.street}}
            <br> #: {{company.adress.number}}
            <br>
          </p>
        </div>
        <br>
        <div class="col-3">
          <i class="fa fa-phone col-12 text-center" aria-hidden="true"></i>
        </div>
        <div class="col-9 marginBot">Numero(s):</div>
        <div class="col-3"></div>
        <div class="col-9 marginBot">
          <p>
            Telefono: {{company.number.phone}}
            <br> Celular: {{company.number.cellphone}}
            <br>
          </p>
        </div>
        <br>
        <div class="col-3">
          <i class="fa fa-tags col-12 text-center" aria-hidden="true"></i>
        </div>
        <div class="col-9">Servicios:</div>
        <div class="col-3"></div>
        <div class="col-9">
          <p>
            {{company.services}}
          </p>
        </div>
        <br>
      </div>
    </div>
    <div class="col-12 col-md-8 animated fast fadeIn" *ngIf="option == 1">
      <div class="container animated fadeIn" *ngIf="!addC && !logoPhoto">
        <button class="btn btn-info pull-right" (click)="addClient()" *ngIf="own">Añadir Cliente nuevo</button>
        <h2 class="text-center">Nuestros Clientes</h2>
        <div class="row">
          <div class="col-md-3 col-6" *ngFor="let c of clients">
            <div class="imgContainer imgClient">
              <img src="https://www.google.es/about/img/social/generic-feed.svg" class="rounded-circle" alt="">
            </div>
            <br>
            <h3 class="text-center">{{c.name}}</h3>
            <p class="text-center">"{{c.desc}}"</p>
          </div>
        </div>
      </div>
      <div class="row animated fadeIn" *ngIf="addC">
        <div class="col-12">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Añadir cliente</h5>
              <div class="row">
                <div class="col-12">
                  <form [formGroup]="formClient">
                    <div class="form-group">
                      <label>Nombre</label>
                      <input formControlName="name" type="text" class="form-control" placeholder="Nombre del cliente">
                      <label>Pagina web</label>
                      <input formControlName="webPage" type="text" class="form-control" placeholder="Pagina web">
                      <!-- <label >Logo</label>
                              <input type="file" (change)="onChange($event)"/> -->
                      <div class="form-group">
                        <label>Descripcion</label>
                        <textarea class="form-control" placeholder="Mensaje" formControlName="desc"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <button class="btn btn-info" (click)="postClient()">Añadir</button>

              <button class="btn btn-danger" (click)="closeClient()">Salir</button>
            </div>
          </div>
        </div>
      </div>



      <div class="row animated fadeIn" *ngIf="logoPhoto">
        <div class="col-12">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Añadir Logotipo</h5>
              <div class="row">
                <div class="col-12">
                  <label>Logo</label>
                  <input type="file" name="photo" ng2FileSelect [uploader]='uploaderL' class="uploadPhoto" #file>
                </div>
              </div>
              <button class="btn btn-primary" (click)="uploaderL.uploadAll()" [disabled]="!uploaderL.getNotUploadedItems().length">Añadir</button>

              <button class="btn btn-danger" (click)="closeClient()">Foto por defecto</button>
            </div>
          </div>
        </div>
      </div>



    </div>
    <div class="col-12 col-md-8 animated fast fadeIn" *ngIf="option === 2">
      <div class="container animated fadeIn" *ngIf="!addW">
        <button class="btn btn-info" (click)="addWork()" *ngIf="own">Añadir Trabajo nuevo</button>
        <h2 class="text-center">Nuestros Trabajos</h2>
        <div class="row">
          <div class="col-6 col-md-3" *ngFor="let w of works">
            <div class="imgContainer imgClient">
              <img src="./assets/img/companies/{{w.type}}.png" class="rounded-circle" alt="">
            </div>
            <br>
            <h3 class="text-center">{{w.name}}</h3>
            <p class="text-center">"{{w.desc}}"</p>
            <p class="text-center">{{w.type}}</p>
          </div>
        </div>
      </div>
      <div class="row animated fadeIn" *ngIf="addW">
        <div class="col-12">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Añadir un trabajo</h5>
              <div class="row">
                <div class="col-12">
                  <form [formGroup]="formWork">
                    <div class="form-group">
                      <label>Nombre</label>
                      <input formControlName="name" type="text" class="form-control" placeholder="Nombre de trabajo">
                      <label>Tipo</label>
                      <select class="form-control" name="type" formControlName="type" (change)="type($event)">
                        <option [value]="type" *ngFor="let type of types">{{type | uppercase}}</option>
                      </select>
                      <div class="form-group">
                        <label>Descripcion</label>
                        <textarea class="form-control" placeholder="Ejemplo: trabajo sobre desarrollo web" formControlName="desc"></textarea>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
              <button class="btn btn-primary" (click)="postWork()" [disabled]="!formWork.valid">Añadir</button>
              <button class="btn btn-danger" (click)="closeWork()">Salir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 animated fast fadeIn" *ngIf="option === 3">
      <div class="container animated fadeIn" *ngIf="!add">
        <button class="btn btn-success" (click)="addTeam()" *ngIf="own">Añadir al equipo</button>

        <h2 class="text-center">Nuestro Equipo</h2>

        <div class="row">
          <div class="col-6 col-md-3" *ngFor="let e of team; let i = index">
            <div class="imgContainer">
              <div class="rounded-circle img">
                <img *ngIf="e.img.includes('https')" src="{{e.img}}"
                  class="rounded-circle " alt="">
                <img *ngIf="e.img != 'default' && !e.img.includes('https')" src="./assets/img/users/{{e.img}}" class="rounded-circle " alt="">
                <img *ngIf="e.img == 'default'" src="https://i.pinimg.com/736x/d1/c8/de/d1c8debd98164cbc83966cf6de005622--hipster-beanie-hipster-glasses.jpg" class="rounded-circle " alt="">
              </div>
            </div>
            <h3 class="text-center">{{e.name}}</h3>
          </div>
        </div>
      </div>
      <div class="row animated fadeIn" *ngIf="add">
        <div class="col-12">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Buscar empleado por email</h5>
              <div class="row">
                <div class="col-6">
                  <form [formGroup]="form">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Direccion de email</label>
                      <input formControlName="email" type="email" class="form-control" placeholder="Enter email">
                    </div>
                    <button (click)="searchUser()" class="btn btn-success">Buscar</button>
                  </form>
                </div>
                <div class="col-6" *ngIf="serachB">
                  <div class="row" *ngIf="search.name && found">
                    <div class=" searchImg col-12">
                      <div class="rounded-circle img">
                        <img *ngIf="search.imageUrl == 'default'" src="https://i.pinimg.com/736x/d1/c8/de/d1c8debd98164cbc83966cf6de005622--hipster-beanie-hipster-glasses.jpg"
                          class="rounded-circle " alt="">
                        <img *ngIf="search.imageUrl != 'default' && !socialImg" src="./assets/img/users/{{search.imageUrl}}" class="rounded-circle " alt="">
                        <img src='{{search.imageUrl}}' alt="" class="rounded-circle" *ngIf="socialImg && loaded">

                      </div>
                    </div>
                    <div class="col-12">
                      {{search.name.firstName}}
                      <br> {{search.phone}}
                      <form [formGroup]="form">
                        <input formControlName="position" type="text" class="form-control" placeholder="posicion">
                      </form>
                    </div>
                  </div>
                  <br>
                  <div class="alert alert-danger" *ngIf="!found">
                    Usuario no encontrado
                  </div>
                </div>
              </div>
              <button class="btn btn-primary" (click)="addUser()" [disabled]="!found || !form.controls.position.valid">Añadir</button>
              <button class="btn btn-danger" (click)="closeTeam()">Salir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>