/* .imgContainer{
  width: 100%;
  height: 100%;
}

 img {
  width: 100%;
  height: 100%;
}

.imgContainerP{
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.rating{
  margin: 0 auto;
  background-color: #80DEEA;
  border-radius: 40px;
  top: -10px;
  color: #ECEFF1;
}

.options{
  margin-top: 5%;
  padding-left: 5%;
}

.email{
  font-size: 13px;
  color: blue
}




.rightOption{
  border-left: 1px solid #bdbdbd
}

.profilePic{
  padding-top: 10%;
}

.contactInformation{
  padding: 5%;
  margin-bottom: 5%;
}

.margin{
  margin-bottom: 5%;
  margin-top: 5%
}

.infoContainer{
  border-bottom: 1px solid #bdbdbd
}

.infoTittle{
  font-weight: bold;
  color: #212121;
  padding-bottom: 5%;
}

.contactInformation{
  color: #616161;
  margin-top: 10%;
}

.container{
  padding-top: 3%;
}

.container-fluid{
  background-color: #EEF2F6;
}

.profileStatus{
  padding: 5%;
  margin-bottom: 5%;
}

.iconContainer{
  border-radius: 50%;
  font-size: 40px;
}

.span{
  margin-right: 5%;
}

.empcom{
  padding: 5% 1%;
}


.companyLog{
  transition: all .3s ease;
}

.companyLog:hover{
  transform: scale(1.1,1.1);
  cursor: pointer;
}

.editIcon:hover{
  cursor: pointer;
}

.iconS{color: #A9E8D3}
.iconH{color: #E2EBBF}
.iconI{color: #547FD4}
.iconW{color: #63CAE5}
.iconSB{border: 2px solid #A9E8D3}
.iconHB{border: 2px solid #E2EBBF}
.iconIB{border: 2px solid #547FD4}
.iconWB{border: 2px solid #63CAE5}



.uploadPhotoCon:hover{
  cursor: pointer;
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .iconContainer i{
      font-size: 25px;
    }

    .infoContainer{
      font-size: 10px;
    }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .iconContainer i{
      font-size: 25px;
    }
} */

/* .headerRow{
  height: 25%;
  background-color: black;
} */


.headerRow{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profileImage{
  margin-top: 5%;
}



.description{
  margin-bottom: 5%;
}

.options{
  background-color: #515253;
  padding: 3vh 0;

}

.options-info{
  border-right: 1px solid #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: .3s all ease;
}

.options-info:hover{
  color: #000000;
}


.startup-info{
  border-right: 0px;
}

.name{
  margin: 2% 0%;
  font-size: 18px;
}

.skills{
  margin: 4%;
  border-top: .5px solid rgba(153,153,153,0.8);
  color: rgba(46,40,42,0.5);
  font-size: 14px;
}

.skills .row {
  margin-top: 2%;
}

.row .card{
  margin-top: 2%;
}

.alert .badge{
  margin-right: 5px;
}

.company-log p img{
  width: 80%;
  margin-top: 8%;
}

.company-social{
  padding-top: 2%;
}

.company-social i{
  margin-top: 5px;
  font-size: 48px;
}

.company-social i:hover{
  cursor: pointer;
}

.social div i {
  font-size: 22px;
}

.social{
  padding-bottom: 4%;
}

i{
  cursor: pointer;
}


canvas{
  width:100%; 
  height:100%
}

.imgProfile{
  max-width: 20%;
}

 /* @media only screen and (max-device-width:768px){
  .options-info{
    border-bottom: 1px solid #ffffff;
    font-weight: bold;
  }
} */
