<!-- <div class="alert alert-info" *ngIf="!loaded">
  Cargando...
</div>

<div class="container-fluid" *ngIf="loaded">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3" *ngIf="profileLoaded">
        <div class="row">
          <div class="col-md-12">
            <div class="card profilePic">
              <div class="imgContainerP uploadPhotoCon" (click)="file.click()">
                  <img src='./assets/img/users/{{profile.imageUrl}}' alt="" class="rounded-circle" *ngIf="(profile.imageUrl != 'default' && !socialImg) && loaded">
                  <img src='{{profile.imageUrl}}' alt="" class="rounded-circle" *ngIf="socialImg && loaded">
                  <img src="./assets/img/default_profile.png" alt="" class="rounded-circle" *ngIf="profile.imageUrl == 'default'">
              </div>
              <div class="rating col-3 col-sm-4">
                <i class="fa fa-star" aria-hidden="true"></i>10
              </div>
              <span class="text-center" *ngIf="profile.name">{{profile.name.firstName}}</span>
              <div class="row text-center">
                <div class="col-md-6">
                    <label class="btn btn-info btn-block">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                  <input style="display:none" type="file" name="photo" ng2FileSelect [uploader]='uploader' class="uploadPhoto" #file>

                      </label>
                </div>
                <div class="col-md-6" style="padding-right:-15px;">
                    <button type="button" class="btn btn-success btn-block" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        Actualizar
                  </button>
                </div>

              </div>
            </div>
            <div class="card contactInformation">
              <div class="row">
                <div class="col-12 margin infoContainer infoTittle">Informacion de contacto</div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 infoContainer">
                      <div class="row">
                        <div class="col-2 margin">
                          <i class="fa fa-envelope margin" aria-hidden="true"></i>
                        </div>
                        <div class="col-10 margin col-sm-9 email" *ngIf="profile.email">
                            {{profile.email}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12 infoContainer">
                      <div class="row">
                        <div class="col-2 margin">
                          <i class="fa fa-mobile margin" aria-hidden="true"></i>
                        </div>
                        <div class="col-10 col-sm-9 margin" *ngIf="profile.phone">
                            {{profile.phone}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-2 margin">
                            <i class="fa fa-facebook margin" aria-hidden="true"></i>
                        </div>
                        <div class="col-10 margin col-sm-9" *ngIf="profile.social">
                            <span (click)="facebook()" >{{profile.social.facebook}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5" *ngIf="profileLoaded">
        <div class="row">
          <div class="col-12 card profileStatus" >
            Eduacion
            <div class="row">
              <div class="col-2 iconContainer text-center iconSB">
                <i class="fa fa-graduation-cap iconS" aria-hidden="true"></i>
              </div>
              <div class="col-10" >
                  <div class="alert alert-info" *ngIf="!study">Añade estudios para mirarlos</div>
                <div class="alert alert-info" *ngIf="study">{{profile.status.study}}</div>
              </div>
            </div>
          </div>
          <div class="col-12 card profileStatus">
            Habilidades
            <div class="row">
              <div class="col-2 iconContainer text-center iconHB">
                <i class="fa fa-check iconH" aria-hidden="true"></i>
              </div>
              <div class="col-10">
                  <div class="alert alert-info" *ngIf="profile.habilities == ''">Añade habilidades para mirarlos</div>
                  <div class="alert alert-info">
                <span class="badge badge-info span" *ngFor="let h of profile.habilities; let i = index">{{profile.habilities[i]}}</span>

                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 card profileStatus" *ngIf="profile.interest">
            Intereses
            <div class="row">
              <div class="col-2 iconContainer text-center iconIB">
                <i class="fa fa-question iconI" aria-hidden="true"></i>
              </div>
              <div class="col-10">
                  <div class="alert alert-info" *ngIf="profile.interest == ''">Añade intereses para mirarlos</div>
                  <div class="alert alert-info">
                    <span class="badge badge-success span" *ngFor="let n of profile.interest; let i = index">{{profile.interest[i]}}</span>

                  </div>
                </div>
            </div>
          </div>
          <div class="col-12 card profileStatus">
            Trabajo
            <div class="row">
              <div class="col-2 iconContainer text-center iconWB">
                <i class="fa fa-briefcase iconW" aria-hidden="true"></i>
              </div>
              <div class="col-10" >
                  <div class="alert alert-info" *ngIf="!work">Añade trabajo para mirarlo</div>
                  <div class="alert alert-info" *ngIf="work">{{profile.status.work}}</div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4" *ngIf="companyLoaded">
        <div class="row">
          <div class="col-12">
            <div class="card grafica">
                <div class="col-12">
                  <div style="display: block;" class="col-12">
                  <canvas  baseChart width="100%" height="70%"
                              [datasets]="lineChartData"
                              [labels]="lineChartLabels"
                              [options]="lineChartOptions"
                              [colors]="lineChartColors"
                              [legend]="lineChartLegend"
                              [chartType]="lineChartType"></canvas>
                </div>
              </div>
            </div>
            <div class="card margin">
              <div class="col-12 text-center empcom">Empresas
                <div class="row justify-content-center">
                  <ng-container *ngFor="let c of companies | orderBy; let i = index">
                    <div class="col-4" *ngIf="i < 3">
                      <div class="imgContainer">
                        <img *ngIf="c.imageUrl == 'default'" src="./assets/img/default_logo_company.png" alt="" class="rounded-circle companyLog" (click)="company(c.name)">
                        <img  src="./assets/img/companies/{{c.imageUrl}}" alt="" *ngIf="c.imageUrl != 'default'" class="rounded-circle companyLog" (click)="company(c.name)">
                      </div>
                    </div>
                  </ng-container>
                  <div class="col-12">
                      <button type="button" name="button" class="btn btn-success" (click) = "registerComany()" *ngIf="profile.name.firstName != ''">Registrar Empresa</button>
                      <div class="alert alert-info" *ngIf="profile.name.firstName == ''">Completa tu perfil para registrar una empresa</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card margin">
              <div class="col-12 text-center empcom">StartUps
                <div class="row justify-content-center">
                  <ng-container *ngFor="let s of startups | orderBy; let i = index">
                    <div class="col-4" *ngIf="i < 3">
                      <div class="imgContainer">
                        <img *ngIf="s.imageUrl == 'default'" src="./assets/img/default_logo_company.png" alt="" class="rounded-circle companyLog" (click)="startup(s.name)">
                        <img  src="./assets/img/startups/{{s.imageUrl}}" alt="" *ngIf="s.imageUrl != 'default'" class="rounded-circle companyLog" (click)="startup(s.name)">
                      </div>
                    </div>
                  </ng-container>
                  <div class="col-12">
                      <button type="button" name="button" class="btn btn-success" (click) = "registerStartup()" *ngIf="profile.name.firstName != ''">Registrar StartUp</button>
                      <div class="alert alert-info" *ngIf="profile.name.firstName == ''">Completa tu perfil para registrar una StartUp</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div class="container-fluid" *ngIf="profile">
  <div class="row headerRow" [ngStyle]="{background:'url(./assets/img/users/' + backgroundImg + ')'}">
    <div class="col-12 header">
      <label class="btn btn-info " *ngIf="edit && section == 5" style="margin-top:8px;">
        <i class="fa fa-upload" aria-hidden="true"></i>
        <input style="display:none" type="file" name="photo" ng2FileSelect [uploader]='uploader' class="uploadPhoto" #file>
      </label>
      <button type="button" *ngIf="edit && section == 5" class="btn btn-success " (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        Subir Foto
      </button>
      <button class="btn btn-info  text-white" *ngIf="edit && section == 5" (click)="save()">Guardar</button>
      <i class="material-icons float-right text-white" *ngIf="edit && section == 5" (click)="closeEdit()">close</i>
      <i class="material-icons float-right text-white" *ngIf="!(edit && section == 5)" (click)="editMode(eleFi.id)" #eleFi id="editFi">mode_edit</i>
      <br>
      <p class="text-center profileImage">
        <img src='./assets/img/users/{{profile.imageUrl}}' alt="" class="rounded-circle imgProfile" *ngIf="(profile.imageUrl != 'default' && !socialImg) && loaded">
        <img src='{{profile.imageUrl}}' alt="" class="rounded-circle imgProfile" *ngIf="socialImg && loaded">
        <img src="./assets/img/users/default.jpg" alt="" class="rounded-circle imgProfile" *ngIf="profile.imageUrl == 'default'">
      </p>
      <p class="text-center text-muted description" *ngIf="!(edit && section == 5)">
        <strong *ngIf="loaded">{{profile.name.firstName}}</strong>
        <br>
        <span>{{professionText}}</span>
        <br> {{bioText}}
      </p>
      <div class="form-group col-md-4 offset-md-4" *ngIf="(edit && section == 5)">
        <input type="text" class="form-control" [(ngModel)]="profile.name.firstName">
      </div>
      <div class="form-group col-md-4 offset-md-4" *ngIf="(edit && section == 5)">
        <input type="text" class="form-control" [(ngModel)]="professionText">
      </div>
      <div class="form-group col-md-4 offset-md-4" *ngIf="(edit && section == 5)">
        <textarea class="form-control" [(ngModel)]="bioText"></textarea>
      </div>
      <button type="button" *ngIf="edit && section == 5" class="btn btn-success pull-right" (click)="uploaderBack.uploadAll()" [disabled]="!uploaderBack.getNotUploadedItems().length">
          Subir Foto
        </button>
      <label class="btn btn-info pull-right" *ngIf="edit && section == 5">
          <i class="fa fa-upload" aria-hidden="true"></i>
          <input style="display:none" type="file" name="photo" ng2FileSelect [uploader]='uploaderBack' class="uploadPhoto" #file2>
        </label>
        
    </div>

  </div>
  <div class="row items options justify-content-around">
    <div class="col-md-4 col-6 text-center options text-white">
      <div class="options-info" (click)="showProfile()">
        Eventos
        <br> Asistidos
      </div>
    </div>
    <div class="col-md-4 col-6 text-center options text-white">
      <div class="options-info" (click)="showCompanies()">
        {{companies.length}}
        <br> Empresas
      </div>
    </div>
    <div class="col-md-4 col-6 text-center options text-white">
      <div class="options-info startup-info" (click)="showStartups()">
        {{startups.length}}
        <br> Empredimientos
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 animated fadeIn " *ngIf="option == 0">
      <div style="display: block;" class="col-12">
        <canvas baseChart width="100%" height="75%" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      </div>
    </div>
    <div class="col-12 col-md-8 animated fadeIn " *ngIf="option == 1">
      <div class="row justify-content-between">
        <h2 style="display:inline-block">Compañias</h2>
        <button type="button" style="margin-top: 1%" name="button" class="btn btn-success" (click)="registerComany()">Registrar Empresa</button>
      </div>
      <div *ngFor="let s of companies | orderBy; let i = index">
        <div class="card" *ngIf="i < 3">
          <div class="row">
            <div class="col-md-3 col-6 company-log" (click)="company(s.name)">
              <p class="text-center">
                  <img class="rounded-circle " src="./assets/img/companies/{{s.imageUrl}}" alt="" *ngIf="s.imageUrl != 'default'">
                  <img src="../../../assets/img/default_logo_company.png" alt="" *ngIf="s.imageUrl == 'default'" class="rounded-circle">
              </p>
            </div>
            <div class="col-md-9 col-5 text-center company-social">
              <h2>{{s.name}}</h2>
              <h6 class="text-muted">{{s.phrase}}</h6>
              <div class="row justify-content-around">
                <i class="fa fa-facebook col-4" style="color:#3b5998" aria-hidden="true"></i>
                <i class="fa fa-twitter col-4" style="color:#1da1f2" aria-hidden="true"></i>
                <i class="fa fa-instagram col-4" style="color:#e1306c" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 animated fadeIn " *ngIf="option == 2">
      <div class="row justify-content-between">
        <h2 style="display:inline-block">Empredimientos</h2>
        <button type="button" name="button" style="margin-top: 1%" class="btn btn-success" (click)="registerStartup()">Registrar StartUp</button>
      </div>
      <div class="card" *ngFor="let s of startups | orderBy">
        <div class="row">
          <div class="col-md-3 col-6 company-log" (click)="startup(s.name)">
            <p class="text-center">
              <img src='./assets/img/users/{{profile.imageUrl}}' alt="" class="rounded-circle" *ngIf="(profile.imageUrl != 'default' && !socialImg) && loaded">
              <img src='{{profile.imageUrl}}' alt="" class="rounded-circle" *ngIf="socialImg && loaded">
              <img src="./assets/img/default_profile.png" alt="" class="rounded-circle" *ngIf="profile.imageUrl == 'default'">
              <!-- <img *ngIf="s.imageUrl == 'default'" src="./assets/img/default_logo_company.png" alt="" class="rounded-circle companyLog" (click)="startup(s.name)">
              <img  src="./assets/img/startups/{{s.imageUrl}}" alt="" *ngIf="s.imageUrl != 'default'" class="rounded-circle companyLog" (click)="startup(s.name)"> -->
            </p>
          </div>
          <div class="col-md-9 col-6 text-center company-social">
            <h2>{{s.name}}</h2>
            <h6 class="text-muted">{{s.phrase}}</h6>
            <div class="row justify-content-around">
              <i class="fa fa-facebook col-4" style="color:#3b5998" aria-hidden="true"></i>
              <i class="fa fa-twitter col-4" style="color:#1da1f2" aria-hidden="true"></i>
              <i class="fa fa-instagram col-4" style="color:#e1306c" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card text-center" style="padding-top:5%">

        <div class="text-center">
          <strong *ngIf="loaded">{{profile.name.firstName}}</strong>
          <button class="btn btn-info float-left" *ngIf="edit && section == 1" (click)="save()">Guardar</button>
          <i class="material-icons float-right" *ngIf="edit && section == 1" (click)="closeEdit()">close</i>
          <i class="material-icons float-right" *ngIf="!(edit && section == 1)" (click)="editMode(eleF.id)" #eleF id="editF">mode_edit</i>
          <br>
          <span *ngIf="loaded">{{professionText}}</span>
        </div>
        <div class="skills text-left">
          <div class="row">
            <div class="col-2 text-center">
              <i class="material-icons">home</i>
            </div>
            <div class="col-10" *ngIf="!(edit && section == 1)">
              {{addText}}
            </div>
            <div class="form-group col-10" *ngIf="(edit && section == 1)">
              <input type="text" class="form-control" [(ngModel)]="addText">
            </div>
            <div class="col-2 text-center">
              <i class="material-icons">work</i>
            </div>
            <div class="col-10" *ngIf="!(edit && section == 1)">
              {{workText}}
            </div>
            <div class="form-group col-10" *ngIf="(edit && section == 1)">
              <input type="text" class="form-control" [(ngModel)]="workText">
            </div>
            <div class="col-2 text-center">
              <i class="material-icons">school</i>
            </div>
            <div class="col-10" *ngIf="!(edit && section == 1)">
              {{schoolText}}
            </div>
            <div class="form-group col-10" *ngIf="(edit && section == 1)">
              <input type="text" class="form-control" [(ngModel)]="schoolText">
            </div>
          </div>
        </div>
      </div>
      <div class="card text-center" style="padding-top:5%">
        <div>
          <button class="btn btn-info float-left" *ngIf="edit && section == 2" (click)="save()">Guardar</button>
          <i class="material-icons float-right" *ngIf="edit && section == 2" (click)="closeEdit()">close</i>
          <strong>Redes Sociales</strong>
          <i class="material-icons float-right" id="editS" #eleS *ngIf="!(edit && section == 2)" (click)="editMode(eleS.id)">mode_edit</i>
        </div>
        <br>
        <div class="social  text-left">
          <div class="row">
            <div class="col-2 text-right">
              <i class="fa fa-facebook" style="color:#3b5998" aria-hidden="true"></i>
            </div>
            <div class="col-10" style="color:#3b5998" *ngIf="!(edit && section == 2)">
              {{facebookText}}
            </div>
            <div class="form-group col-10" *ngIf="(edit && section == 2)">
              <input type="text" class="form-control" [(ngModel)]="facebookText">
            </div>
            <div class="col-2 text-right">
              <i class="fa fa-twitter" style="color:#1da1f2" aria-hidden="true"></i>
            </div>
            <div class="col-10" style="color:#1da1f2" *ngIf="!(edit && section == 2)">
              {{twitterText}}
            </div>
            <div class="form-group col-10" *ngIf="(edit && section == 2)">
              <input type="text" class="form-control" [(ngModel)]="twitterText">
            </div>
            <div class="col-2 text-right">
              <i class="fa fa-instagram" style="color:#e1306c" aria-hidden="true"></i>
            </div>
            <div class="col-10" style="color:#e1306c" *ngIf="!(edit && section == 2)">
              {{instagramText}}
            </div>
            <div class="form-group col-10" *ngIf="(edit && section == 2)">
              <input type="text" class="form-control" [(ngModel)]="instagramText">
            </div>
          </div>
        </div>
      </div>
      <div class="card text-center" style="padding-top:5%">
        <div>
          <button class="btn btn-info float-left" *ngIf="edit && section == 3" (click)="save()">Guardar</button>
          <i class="material-icons float-right" *ngIf="edit && section == 3" (click)="closeEdit()">close</i>
          <strong class="name">Habilidades</strong>
          <i class="material-icons float-right" *ngIf="!(edit && section == 3)" id="editT" #eleT (click)="editMode(eleT.id)">mode_edit</i>
        </div>
        <div class="alert" *ngIf="!(edit && section == 3)">
          <span class="badge badge-info span" *ngFor="let h of profile.habilities; let i = index">{{profile.habilities[i]}}</span>

        </div>
        <div class="col-md-12" *ngIf="(edit && section == 3)">
          <tag-input [(ngModel)]='habilities' [modelAsStrings]='true' id="Habilidades" [theme]="'bootstrap'" placeholder='Interes'
            secondaryPlaceholder="Añadir interes"></tag-input>
        </div>
      </div>
      <div class="card text-center" style="padding-top:5%">
        <div>
          <button class="btn btn-info float-left" *ngIf="edit && section == 4" (click)="save()">Guardar</button>
          <i class="material-icons float-right" *ngIf="edit && section == 4" (click)="closeEdit()">close</i>
          <strong class="name">Intereses</strong>
          <i class="material-icons float-right" id="editFo" #eleFo *ngIf="!(edit && section == 4)" (click)="editMode(eleFo.id)">mode_edit</i>
        </div>
        <div class="alert " *ngIf="!(edit && section == 4)">
          <span class="badge badge-success span" *ngFor="let n of profile.interest; let i = index">{{profile.interest[i]}}</span>

        </div>
        <div class="col-md-12" *ngIf="(edit && section == 4)">
          <tag-input [(ngModel)]='interest' [modelAsStrings]='true' id="interest" [theme]="'bootstrap'" placeholder='Interes' secondaryPlaceholder="Añadir interes"></tag-input>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>