<div class="row">
  <div class="col-6 offset-3">
    <div class="container">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="name">Nombre aliado</label>
          <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Nombre aliado">
        </div>
        <div class="form-group">
          <label for="address">Direccion</label>
          <input formControlName="address" type="text" class="form-control" id="address" placeholder="Direccion">
        </div>
        <label class="btn btn-info btn-file">
          Seleccionar imagen
          <input style="display: none;" type="file" name="photo" (change)="onArchivoSeleccionado($event)" class="uploadPhoto" #file>
        </label>
        <br>
        <button type="submit" class="btn btn-primary" (click)="subirArchivo()" [disabled]="!form.valid || !validImg">Registrar</button>
      </form>
    </div>
  </div>
</div>
