<div class="alert alert-info" *ngIf="updates.length == 0">No hay noticias recientes</div>


<div class="new animated fadeIn fast" *ngIf="loaded">
  <div class="container">
    <div class="row justify-content-center update" *ngFor="let u of updates">
      <div class="col-8">
        <div>
          <div class="card news text-black">
            <div class="card-header text-muted">
              <span class="text-primary">{{u.city}}</span>
              <br>
              <span>{{u.sede}}</span>
            </div>
            <div class="card-block">
              <p class="card-text">{{u.info}}</p>
            </div>
            <div class="row">
              <div class="col-md-6 text-left">
                <small>{{u.date}}</small>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

