.login{
  background-color: #d9d9d9;
  height: 90vh;
}
.map{
  background-color: #ffffff;
  padding: 4% 10%;
}

.logBtn{
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 20px;
  border-radius: 40px;
  margin-top: 10%;
  background-color: #F66A6A;
  border: none;
}

input{
  border: 2px solid rgba(85, 85, 85, 0.3);
}

.signBtn{
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 20px;
  border-radius: 40px;
  background-color: #5E9FFF;
  border: none;
}
a{
  color: #ffffff;
}

.info{
  padding-top: 5%;
  padding-bottom: 5%;
}

.buttons{
  margin-top: 18%;
  padding-left: 5%;
  padding-right: 5%;
}

button,a{
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.socialBtn{
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 30px;
}

.socialIcon{
  padding-left: 5%;
}

.socialText{
  padding-left: 10%;
  color: #ffffff;
}

.linkedin{background-color: #428BF6;}
.twitter{background-color:#58BBEE }
.facebook{background-color: #475993}
.google{background-color: #E55F5F}
.github{background-color: #555555}

i{
  font-size: 30px;
  color: #ffffff;
}

.eye{
  color: rgba(85, 85, 85, 0.3);
  padding-left: 80%;
  padding-top: -500px;
}

div img{
  width: 80%;
  margin-top: 15%;
}

