<div class="container-fluid animated zoomIn fast login">
  <div class="row">
    <div class="col-md-6 col-12 text-center map">
      <div class="container">
        <div class="show-hide-message " role="alert">
          <div [ngClass]="messageClass">
            {{message}}
          </div>
        </div>
        <form [formGroup] = "form" (submit) = "login()">
          <div class="form-group">
            <input type="email" class="form-control info" placeholder="Email" formControlName="email" (ngModelChange)="onChange($event)">
            <small *ngIf="!validEmail && form.controls.email.touched" class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Utilice un email valido</small>
          </div>
          <div class="form-group">
            <div>
              <input type="password" class="form-control info" placeholder="Password" formControlName="password">
            </div>

            <small id="emailHelp" class="form-text text-muted text-right">Minimo 8 letras</small>
          </div>
          <button type="submit" class="btn btn-primary btn-block logBtn" [disabled]="!form.valid || !validEmail">ACCEDER</button>
          <a href="#" class="btn btn-block signBtn" [routerLink]="['/register']">REGISTRARSE</a>
          O Tambien
          <button type="button" class="btn btn-block text-left socialBtn facebook"  (click) = "loginFacebook()">
              <i class="fa fa-facebook-square socialIcon" aria-hidden="true"></i>
              <span class="socialText">Log in with Facebook</span></button>
        </form>
      </div>
    </div>
    <div class="col-md-6 col-12 login">
      <div class="container">
         <p class="text-center">
            <img src="../../../assets/img/landing_tomato.png" alt="" class="mx-auto">
         </p>
        <!-- <div class="buttons">
          <button type="button" class="btn btn-block text-left socialBtn facebook"  (click) = "loginFacebook()">
            <i class="fa fa-facebook-square socialIcon" aria-hidden="true"></i>
            <span class="socialText">Log in with Facebook</span></button>
          <button type="button" class="btn btn-block text-left socialBtn linkedin" disabled (click) = "linkedin()">
            <i class="fa fa-linkedin-square socialIcon" aria-hidden="true"></i>
            <span class="socialText">Log in with Linkedin</span></button>
          <button type="button" class="btn btn-block text-left socialBtn twitter" disabled>
            <i class="fa fa-twitter-square socialIcon" aria-hidden="true"></i>
            <span class="socialText">Log in with Twitter</span></button>
          <button type="button" class="btn btn-block text-left socialBtn google" disabled>
            <i class="fa fa-google-plus-square socialIcon " aria-hidden="true"></i>
            <span class="socialText">Log in with Google</span></button>
          <button type="button" class="btn btn-block text-left socialBtn github" disabled>
            <i class="fa fa-github-square socialIcon" aria-hidden="true"></i>
            <span class="socialText">Log in with Github</span></button>
        </div> -->
      </div>
    </div>
  </div>
</div>
