h5 {
    position: relative;
    color: rgba(0, 0, 0, .3);
    font-size: 2em

}
h5:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #000;
    animation: loading 3s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}

.icons{
    margin-top: 2%;
    margin-bottom: 2%;
}