<div class="container admin animated zoomIn fast">
  <form [formGroup] = "form" (submit)="onSubmit()">
  <div class="form-group">
    <label for="username">Nombre de usuario</label>
    <input type="text" class="form-control" id="username" formControlName="username">
  </div>
  <div class="form-group">
    <label for="city">Ciudad</label>
    <select class="form-control" name="city" formControlName="city">
      <option [value]="city.name" *ngFor="let city of cities">{{city.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="sede">Sede</label>
    <select class="form-control" name="sede" formControlName="sede">
      <ng-container *ngFor="let sede of sedes; let city of cities">
        <option [value]="sede.name" *ngIf="sede.city == aux">{{sede.name}}</option>
      </ng-container>
    </select>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="secret">Secret</label>
        <input type="password" class="form-control" id="secret" formControlName="secret">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!form.valid">Submit</button>
</form>
<div class="show-hide-message" role="alert">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>
</div>
