
<div class="container">
  <div class="row icons">
    <div class="col-md-6 col-12 offset-md-3">
     <div class="row">
       <div class="col-3">
         <p class="text-center">
             <i class="material-icons text-muted" [ngClass]="{'text-info': step == 0}">create</i>
             <br>
             <span class="text-muted" [ngClass]="{'text-info': step == 0}">General</span>
         </p>
       </div>
    <div class="col-3">
       <p class="text-center">
           <i class="material-icons text-muted" [ngClass]="{'text-info': step == 1}">details</i>
           <br>
           <span class="text-muted" [ngClass]="{'text-info': step == 1}">Detalles</span>
       </p>
    </div>
    <div class="col-3">
      <p class="text-center">
         <i class="material-icons text-muted" [ngClass]="{'text-info': step == 2}">supervisor_account</i>
         <br>
         <span class="text-muted" [ngClass]="{'text-info': step == 2}">Contacto</span>
      </p>
    </div>
    <div class="col-3">
      <p class="text-center">
         <i class="material-icons text-muted" [ngClass]="{'text-info': step == 3}">assignment_turned_in</i>
         <br>
         <span class="text-muted" [ngClass]="{'text-info': step == 3}">Listo!</span>
      </p>
    </div>   
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 animated bounceInLeft fast" *ngIf="step == 0">
       <h3 class="text-muted text-center">Cuentanos sobre tu empredimiento!</h3>
      <h6 class="text-muted text-center">Informacion basica de ella</h6>
       <form [formGroup] = "form">
           <div class="form-group">
               <label for="name">Nombre de la empredimiento</label>
               <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Nombre de la empredimiento" [(ngModel)]="name" formControlName="name" (ngModelChange)="onChange($event)">
               <div class="alert alert-danger" role="alert" *ngIf="used">
                 <strong>Ops!</strong> El nombre de empredimiento ya fue tomado
               </div>
           </div>
              <div class="form-group">
                 <label for="phrase">Describe tu empredimiento en una oracion</label>
               <input type="text" class="form-control" id="phrase" formControlName="phrase" aria-describedby="phrase" placeholder="Ejemplo: compartir videos con tus amigos">
              </div>
              <div class="form-group">
                 <label for="website">Sitio web</label>
               <input type="text" class="form-control" formControlName="website" id="website" aria-describedby="website">
              </div>
               <div class="form-group">
                   <label >Mensaje</label>
                   <textarea class="form-control"  formControlName="description" placeholder="Mensaje"></textarea>
                   <span class="text-muted">
                     No uses palabras por usar. Habla como persona. Enfocate en las caracteristicas de la empredimiento.
                   </span>
                 </div>
         </form>
    </div>
    <div class="col-md-8 offset-md-2 animated bounceInLeft fast" *ngIf="step == 1">
      <h3 class="text-muted text-center">Detalles de ella</h3>
        <form [formGroup] = "form">
            <div class="form-group">
                <label for="twitter">Cuenta de twitter</label>
                <input type="text" class="form-control" id="twitter" aria-describedby="twitter" placeholder="Ejemplo @tomatoValley">
             </div>
                <div class="form-group">
                  <label for="approach">Enfoque de la empredimiento</label>
                <input type="text" class="form-control" formControlName="approach" id="approach" aria-describedby="approach" placeholder="Ejemplo: Marketing">
               </div>
               <!-- <div class="form-group">
                  <label for="state">Estado donde se encuentran</label>
                <input type="text" class="form-control" id="state" aria-describedby="state">
               </div> -->
          </form>
          <div class="form-group">
             <label for="exampleInputPassword1">Servicios</label>
             <tag-input [(ngModel)]='services' id="services" [theme]="'bootstrap'"></tag-input>
           </div>
     </div>
     <div class="col-md-8 offset-md-2 animated bounceInLeft fast" *ngIf="step == 2">
         <h3 class="text-muted text-center">Informacion de contacto</h3>

       <form [formGroup]="form" >
           <div class="form-group">
               <div class="row">
                 <div class="col-md-4">
                   <label for="state">Estado</label>
                   <input type="text" class="form-control" id="state" formControlName="state">
                 </div>
                 <div class="col-md-4">
                   <label for="street">Calle</label>
                   <input type="text" class="form-control" id="street" formControlName="street">
                 </div>
                 <div class="col-md-4">
                   <label for="number">Numero</label>
                   <input type="number" class="form-control" id="number" formControlName="number">
                 </div>
               </div>
             </div>
             <div class="form-group">
               <label for="phone">Numero de telefono</label>
               <input type="number" class="form-control" id="phone" placeholder="Numero de telefono" formControlName="phone" (ngModelChange)="onChangeNumber($event)">
               <small *ngIf="!validNumber && form.controls.phone.touched" class="text-danger"><i class="fa fa-exclamation-triangle"></i>Entra un numero valido(10 digitos)</small>
             </div>
             <div class="form-group">
               <label for="cellphone">Numero de celular</label>
               <input type="number" class="form-control" id="cellphone" placeholder="Numero de celular" formControlName="cellphone" (ngModelChange)="onChangePhone($event)">
               <small *ngIf="!validPhone && form.controls.cellphone.touched" class="text-danger"><i class="fa fa-exclamation-triangle"></i>Entra un numero valido(10 digitos)</small>
             </div>
             <div class="form-group">
               <label for="email">Email</label>
               <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" (ngModelChange)="onChangeEmail($event)">
               <small *ngIf="!validEmail && form.controls.email.touched" class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Ingresa un email valido</small>
             </div>
             <div class="form-group" [ngClass]="{'has-danger': rfcType === 0}">
               <label for="rfc">Rfc</label>
               <input type="text" class="form-control" id="rfc" placeholder="Rfc" formControlName="rfc" (ngModelChange) = "onChangeRfc($event)">
               <div class="form-control-feedback" *ngIf="rfcType === 0">Entra un RFC valido</div>
             </div>
       </form>
     </div>
     <div class="col-md-8 offset-md-2 animated bounceInLeft fast" *ngIf="step == 3">
       <h2 class="text-info text-center">{{name}}</h2>
       <h5 class="text-center" data-text="Esta listo!">Esta listo!</h5>
       <button class="btn btn-success btn-block" [disabled]="!registerButton" (click)="send()" >Registrar empredimiento!</button>
       <br>
     </div>
  </div>
  <div class="col-md-8 offset-md-2">
    <div class="row">
      <div class="col-4">
         <button class="btn btn-danger btn-block" (click)="back()" [disabled]="step <= 0" >Atras</button>
      </div>
       <div class="col-4 offset-4">
           <button class="btn btn-info float-right btn-block" [disabled]="step >= 3" (click)="next()" >Avanzar</button>
       </div>
    </div>
   </div>
</div>


