<br><br><br><br>
<div class="container animated zoomIn fast">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Nombre de evento</th>
        <th>Nombre de Ciudad</th>
        <th>Nombre de Sede</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of events; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{e.name}}</td>
        <td>{{e.city}}</td>
        <td>{{e.sede}}</td>
        <div class="row">
          <div class="col-md-6">
            <button type="button" name="button" [ngClass]="{ hide : activeIndex === i}" (click)="activeIndex = i" class="btn btn-warning btn-block">Eliminar</button>
            <button type="button" name="button" [ngClass]="{ show : activeIndex === i}" (click)="activeIndex = i; delete(e._id)" class="hide btn btn-danger btn-block animated fadeInRight fast">Confirmar</button>
          </div>
          <div class="col-md-6">
            <button  type="button" name="button" class="btn btn-info btn-block" [routerLink]="['/admin/event/edit',e._id]">Editar</button>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>
