<div class="container">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Compañia</th>
            <th scope="col">Cluster</th>
            <th scope="col">Aliado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of companies; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{c.name}}</td>
            <td >
              <button class="btn btn-success" *ngIf="c.cluster" >Aceptar</button>
            </td>
            <td>
                <button class="btn btn-success" *ngIf="!c.cluster" >Aceptar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>