<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" *ngFor="let o of options; let i = index">
        <a href="#" class="nav-link" [routerLink] = "[optionsUrl[i]]" (click)="activeIndex = i" [ngClass]="{'text-success':activeIndex === i, 'text-danger':i === 0}">{{o}}</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item " *ngIf="log && loaded">
            <a [routerLink]="['profile']" class="nav-link " href="#">
              <span>{{profile.name.firstName}}</span> 
            </a>
          </li>
        <li class="nav-item">
            <a href="#" class="nav-link" [routerLink]="['login']" *ngIf="!log">Acceder</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" (click) = "logout()" *ngIf="log">Salir</a>
        </li>
    </ul>
  </div>
</nav>
