a {
  color: #2D303E;
}

nav{
  background: #ffffff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

nav a {
  font-weight: bold;
  font-size: 18px;

}

.red{
  color: red;
}

.routeSelected{
  color: red;
  background-color: red
}

img{
  width: 10%;
}

.container{
  width: 50px;
}

li{
  list-style: none;
}

.profileCon{
  margin-left: 200px;
}