<div class="alert alert-info" *ngIf="!loaded">
  Cargando...
</div>
<div class="alert alert-info" *ngIf="events.length == 0">
  No hay eventos registrados
</div>
<div class="container animated zoomIn fast events" *ngIf="loaded">
  <div class="col-12">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-12 col-md-7 marginLeft">
        <div class="col-12 col-md-12 event" *ngFor="let e of events | orderBy">
          <div class="card">
            <div class="row">
              <div class="col-12 header">
                <div class="row">
                  <div class="col-4 col-sm-2 col-md-2 ">
                    <div class="imgContainer">
                      <img src="http://gazettereview.com/wp-content/uploads/2016/03/facebook-avatar.jpg" alt="" class="rounded-circle">
                    </div>
                  </div>
                  <div class="col-8 col-md-9">
                    <div class="row">
                      <span class="col-12">{{e.sede}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="imgContainerMain">
                  <img src="https://juristr.com/blog/assets/imgs/angular4announcement.png" alt="" (click)="information(e._id)">
                </div>
              </div>
              <div class="col-6 dates">
                <div class="col-12">
                  <small>Inicio</small>
                </div>
                <span name="col-12">{{e.myDate | slice:0:10}}</span>
              </div>
              <div class="col-6 text-right dates" *ngIf="e.myDateEnd">
                <div class="col-12">
                  <small>Fin</small>
                </div>
                <span class="col-12">{{e.myDateEnd | slice:0:10 }}</span>
              </div>
              <div class="col-12 description">
                {{e.description}}
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
<div class="alert alert-info" *ngIf="!events">No hay eventos recientes</div>
