<div class="container-fluid  animated fast zoomIn" *ngIf="loaded">
  <div class="row ">
    <div class="col-sm-12 imgContainerB">
      <img src="http://www.solanaleigh.com/wp-content/uploads/2013/06/Linden-Event-Banner-011.jpg" alt="">
    </div>
    <div class="col-sm-12">
      <div class="col-sm-12 col-md-6 margin">
        <div class="row">
          <div class="col-sm-4 actions">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <span>Me Interesa!</span>
          </div>
          <div class="col-sm-4 actions">
            <i class="fa fa-check" aria-hidden="true"></i>
            <span>Asistire</span>
          </div>
          <div class="col-sm-4 actions">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <span>Compartir</span>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="col-sm-8 imgContainerB">
              <img src="http://www.solanaleigh.com/wp-content/uploads/2013/06/Linden-Event-Banner-011.jpg" alt="" class="rounded-circle">
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="row">
              <div class="col-12">
                <h3 >Informacion</h3>
              </div>
              <div class="col-12">
                <h3>{{event.name}}</h3>
              </div>
              <div class="col-6 ">
                <p>
                  {{event.description}}
                </p>
              </div>
              <div class="col-6">
                <span>Del: {{event.myDate | slice:start:10}}</span><br>
                <span>Al: {{event.myDateEnd | slice:start:10}}</span><br>
                <span>
                  <span *ngIf="event.price != null">$ {{event.price}}</span>
                  <span *ngIf="event.price == null">Gratis!</span>
                </span><br>
                <span>Tipo: {{event.type}}</span><br>
                <span>Para: {{event.forWho}}</span><br>
                <span>Con: {{event.sede}}</span><br>
                <span>En: {{event.city}}</span><br>
              </div>
            </div>
          </div>
        </div>
        </div>
      <div class="col-sm-12 text-center margin">
        <h2 class="margin">Publicaciones Recientes</h2>
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-4" *ngFor="let n of news">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="imgContainer">
                    <img src="http://f4.bcbits.com/img/0009742123_10.jpg" alt="" class="rounded-circle">
                  </div>
                </div>
                <div class="col-md-6  col-12 desc">
                  <span class="descInformation">"Lorem ipsum dolor sit amet, consectetur."</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 margin">
      <div class="row justify-content-center">
        <div class="col-sm-2 actions">
          <span class="underline" (click)="information()" [ngClass]="{'text-danger underline': value === 1}">UBICACION</span>
        </div>
        <div class="col-sm-2 actions">
          <span class="underline" (click)="commnets()" [ngClass]="{'text-danger underline': value === 2}">COMENTARIOS</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row animated fast zoomIn" [ngClass]="{hide: value ===2}">
        <div class="col-sm-12 margin">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <agm-map [latitude]="lat" [longitude]="lng">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
              </div>
              <div class="col-sm-6 text-center adress">
                <span >Ubicacion</span>
                <p>
                  En: {{city}}, {{state}}<br>
                  Calle: {{street}}<br>
                  Numero: {{number}}<br>
                  Con: {{event.sede}}
                </p>
                <span class="float-left">{{event.email}}</span>
                <span class="float-right">{{event.phone}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container animated fast zoomIn" [ngClass]="{hide: value === 1}">
      <div class="row">
        <div class="col-sm-8 offset-sm-2 textarea" (click)="comment()">
          <div class="row">
            <div class="col-sm-2 col-2">
                <div class="row">
                  <div class="col-sm-9 col-12">
                    <div class="imgContainer">
                      <img src="http://f4.bcbits.com/img/0009742123_10.jpg" alt="">
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-sm-10 col-12 float-right">
              <textarea   name="name" rows="3" cols="80" placeholder="Escribe algo ..." id="commentSelf"></textarea>
            </div>
          </div>
        </div>
        <div class="col-12" *ngFor="let c of comments">
          <div class="row">
            <div class="col-sm-2 col-6">
              <div class="imgContainer">
                <img src="http://f4.bcbits.com/img/0009742123_10.jpg" alt="">
              </div>
            </div>
            <div class="col-sm-8 col-12 comment">
              <p>
                "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, numquam ex minus. Dignissimos tempora, illum impedit. Sed, porro! Officia et distinctio consectetur voluptatibus nesciunt aut porro? Voluptatem iste alias culpa vel consequuntur esse eum, repellendus praesentium. Doloremque eligendi, ut ipsa."
              </p>
            </div>
            <div class="col-sm-2">
              <div class="row">
                <div class="col-sm-6 col-6 commentAction">
                  <i class="fa fa-commenting comment" aria-hidden="true"></i>
                </div>
                <div class="col-sm-6 col-6 commentAction">
                  <i class="fa fa-thumbs-o-up like" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
