.imgContainer{
  width: 100%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}


.imgContainerB{
  height: 50vh;
  z-index: 2;
}

.imgContainerB img {
  width: 100%;
  height: 100%;
}

agm-map {
  height: 200px;
}

.banner{
  height: 20%;
}

.event{
  height: 100%;
}

i, span, p{
  color: #949494;
}

i{
  font-size: 30px;
  padding-right: 5px;
}

.adress{
  background-color: #F2F1EB;
}

.margin{
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.desc{
  padding-top: 6vh;
}

.actions{
  transition: all .5s ease;
  cursor: pointer;
}

.actions:hover > i{
  color: #B5DD7A;
}

.actions:hover > span{
  color: #B5DD7A;
}

.actions:hover > .underline{
  border-bottom: 1px solid red;
}

.actions:hover{
  transform: scale(1.09,1.09);
}

.actions:hover > span{
  color: #B5DD7A;
}

.hide{
  display: none;
}

textarea{
  border: none;
  width:100%;
  resize: none;
  padding-top: 20px;
}

textarea:focus{
  outline: none;
}

.textarea{
  border: 1.5px solid #939393;
  padding-top: 30px;
  margin-bottom: 20px;
}

.adress{
  padding-top: 20px;
}

.commentAction i{
  transition: all .5s ease;
  cursor: pointer;
  padding-top: 30px;
}

.commentAction .like{
  color: #2D68B2;
}

.commentAction .comment{
  color: #E6335A;
}

.commentAction i:hover{
  transform: scale(1.2,1.2);
}

.comment {
  padding-top: 2%;
}

.underline{
  border-bottom: 1px solid 	#5cb85c;
}
