<div class="container" *ngIf="loaded">
  <div class="row">
    <div class="col-12">
        <div class="col-10">
          <form class="form" [formGroup] = "form">
            <!-- <div class="form-group ">
              <label for="email">Email</label>
              <input type="text" class="form-control" placeholder="Email" name="email" formControlName="email" [(ngModel)]="email" (ngModelChange)="onChange($event)">
            </div> -->
            <!-- <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control" placeholder="Contraseña" name="password" formControlName="password" [(ngModel)]="password" (ngModelChange) = "onChangePass($event)">
            </div> -->
            <div class="form-group ">
              <label for="firstName">Nombre(s)</label>
              <input type="text" class="form-control disabled" placeholder="Nombre" name="firstName" formControlName="firstName">
            </div>
            <div class="form-group">
              <label for="lastName">Apellido(s)</label>
              <input type="text" class="form-control" placeholder="Apellido(s)" name="lastName" formControlName="lastName">
            </div>
            <label for="status">Estatus</label>
            <!-- <select class="form-control" name="position" id="status" (change)="position($event)">
              <option [value]="position" [selected]="position[selected]" *ngFor="let position of positions">{{position}}</option>
            </select> -->
            <!-- <br>
            <div class="form-group first" *ngIf="selectedPosition == 0">
              <input type="text" class="form-control username" placeholder="Lugar" formControlName="work">
              <small class="form-text text-muted">{{selectedMsg}}</small>
            </div>
            <div class="form-group first" *ngIf="selectedPosition == 1">
              <input type="text" class="form-control username" placeholder="Lugar" formControlName="study">
              <small class="form-text text-muted">{{selectedMsg}}</small>
            </div> -->
            <div class="form-group first" >
              <input type="text" class="form-control username"  placeholder="Lugar" formControlName="work">
              <small class="form-text text-muted">Nombre de la institucion donde trabaja</small>
              <input type="text" class="form-control username"  placeholder="Lugar" formControlName="study">
              <small class="form-text text-muted">Nombre de la institucion donde estudia</small>
            </div>
            <div class="form-group">
              <label for="phone">Numero de contacto</label>
              <input type="number" class="form-control" placeholder="Numero de contacto" name="phone" formControlName="phone">
            </div>
            <div class="form-group">
              <label for="facebook">Usuario de facebook</label>
              <input type="text" class="form-control" placeholder="Usuari de facebook" name="facebook" formControlName="facebook">
            </div>
          </form>
          <div class="col-md-9">
            <label for="habilities">Habilidades</label>
            <tag-input [(ngModel)]='habilities' [modelAsStrings] = 'true' id="habilities" [theme]="'bootstrap'" placeholder = 'Habilidad' secondaryPlaceholder="Añadir habilidad"></tag-input>
          </div>
          <div class="col-md-9">
            <label for="interest">Intereses</label>
            <tag-input [(ngModel)]='interest' [modelAsStrings] = 'true' id="interest" [theme]="'bootstrap'" placeholder = 'Interes' secondaryPlaceholder="Añadir interes"></tag-input>
          </div>
        </div>
    </div>
    <button type="button" name="button" class="btn btn-primary" (click)="onSumbitReg()" [disabled]="!form.valid">Guardar</button>
  </div>
</div>
