<div class="container admin">
  <form [formGroup] = "form" (submit)="onSubmit()">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" formControlName="name">
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!form.valid">Enviar</button>
</form>
<div class="show-hide-message" role="alert">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>
</div>
