.imgContainer{
  width: 100%;
  height: 5vh;
}

.imgContainer img{
  width: 100%;
  height: 100%;
}

.imgContainerMain{
  width: 100%;
}

.imgContainerMain img{
  width: 100%;
}

.marginLeft{
  margin-left: 5%;
}

.header{
  padding: 3% 5%;
}

.dates{
  padding: 0 5%;
  color: #757575;
  font-weight: bold;
}

.dates small{
  color: #bdbdbd
}

.description{
  padding: 0 5%;
  padding-bottom: 2%;
}

.events{
  margin-top: 5%;
}

.event{
  transition: all .5s ease;
}

.event:hover{
  cursor: pointer;
  transform: scale(1.02,1.02);
}
