<div class="alert alert-info" *ngIf="!companies">No hay empresas registradas</div>
<div class="container animated zoomIn fast events" *ngIf="loaded">
  <div class="col-12">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-12 col-md-7 marginLeft">
        <div class="col-12 col-md-12 event" *ngFor="let e of companies">
          <div class="card" (click)="company(e.name)">
            <div class="row">
              <div class="col-12 header">
                <div class="row">
                  <div class="col-4 col-sm-6 col-md-2 ">
                    <div class="imgContainer">
                      <img src="https://docs.microsoft.com/es-es/azure/media/index/azure-germany.svg" alt="" class="rounded-circle">
                    </div>
                  </div>
                  <div class="col-8 col-sm-6 col-md-9">
                    <div class="row">
                      <span class="col-12">{{e.name}}</span>
                    </div>
                </div>
                </div>
              </div>
                <div class="col-12">
                  <div class="imgContainerMain">
                    <img src="./assets/img/companies/{{e.imageUrl}}" alt="">
                  </div>
              </div>
              <div class="col-12 dates">
                <div class="col-12"><small>CEO</small></div>
                <span name="col-12">{{e.user}}</span>
              </div>
              <div class="col-12 description">
                {{e.description}}
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>

