<div class="container admin">
  <div class="row">
    <div class="col-md-4">
      <div class="container menu" [ngClass]="{hide: !auth}">
        <button class="btn btn-primary" [routerLink]="['/admin/cities']" [disabled]="!auth">Registrar Ciudad</button>
        <button class="btn btn-danger" [routerLink]="['/admin/sedes']" [disabled]="!auth">Registrar Sede</button>
        <button class="btn btn-success" [routerLink]="['/admin/events']" [disabled]="!auth">Registrar Evento</button>
        <button class="btn btn-info" [routerLink]="['/admin/register']" [disabled]="!auth">Registrar Admin</button>
        <button class="btn btn-info" [routerLink]="['/admin/allies']" [disabled]="!auth">Registrar Aliado</button>        
        <button class="btn btn-warning" [routerLink]="['/admin/admins']" [disabled]="!auth">Mostrar Admins</button>
        <button class="btn btn-primary" [routerLink]="['/admin/coming']" [disabled]="!auth">Mostrar Eventos</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/admin/companies']" >Mostrar empresas <span class="badge badge-info"></span></button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="container">
        <form [formGroup] = "form" (submit)="onSubmit()" *ngIf="!auth">
        <div class="form-group">
          <label for="username">Nombre de usuario</label>
          <input type="text" class="form-control" id="username" formControlName="username">
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="secret">Secret</label>
              <input type="password" class="form-control" id="secret" formControlName="secret">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!form.valid">Enviar</button>
      </form>
      <div class="show-hide-message" role="alert">
        <div [ngClass]="messageClass">
          {{message}}
        </div>
      </div>
      </div>
    </div>
    <form [formGroup] = "formStatus" (submit)="onUpdate()">
      <div class="form-group" *ngIf="auth">
        <label for="description"></label>
        <textarea rows="5" class="form-control" cols="80" placeholder="Informar de alguna noticia" formControlName="info"></textarea>
        <div class="row">
          <div class="col-md-4">
            <select class="form-control" name="priority" formControlName="priority">
              <option value=2>MUY IMPORTANTE</option>
              <option value=1>Neutra</option>
              <option value=0>Baja</option>
            </select>
          </div>
          <div class="col-md-8 float-right">
            <button type="submit" name="button" class="btn btn-outline-primary">Enviar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
