<div class="container admin animated zoomIn fast">
  <form  [formGroup] = "form" (submit) ="onSubmit()">
    <div class="form-group">
      <label for="event">Nombre del evento</label>
      <input type="text" class="form-control" id="event" placeholder="nombre del evento" formControlName="name">
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="type">Tipo de evento</label>
          <select class="form-control" name="type" formControlName="type">
            <option value="presencial">Presencial</option>
            <option value="online">Online</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="forWho">Para quien</label>
          <select class="form-control" name="forWho" formControlName="forWho">
            <option value="company">Empresa</option>
            <option value="person">Persona</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="ciudad">Ciudad</label>
      <select class="form-control" name="city" formControlName="city">
        <option [value]="city.name" *ngFor="let city of cities" >{{city.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="sede">Sede</label>
      <select class="form-control" name="sede" formControlName="sede">
        <ng-container *ngFor="let sede of sedes; let city of cities">
          <option [value]="sede.name" *ngIf="sede.city == aux">{{sede.name}}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group">
      <label for="adress">Direccion</label>
      <div class="row">
        <div class="col-md-6">
          <label for="street">Calle</label>
          <input type="text" class="form-control" id="street" formControlName="street">
        </div>
        <div class="col-md-6">
          <label for="number">Numero</label>
          <input type="number" class="form-control" id="number" formControlName="number">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <label for="email">Email de contacto</label>
          <input type="email" class="form-control" name="email" formControlName="email">
        </div>
        <div class="col-md-4">
          <label for="phone">Telefono de contacto</label>
          <input type="number" class="form-control" name="phone" formControlName="phone">
        </div>
        <div class="col-md-4">
          <label for="sede">Precio</label>
          <div class="form-group">
            <input type="number" class="form-control" formControlName="price" placeholder="Vacio = gratis" id="price">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="description"></label>
      <textarea name="name" rows="8" class="form-control" cols="80" id="description" formControlName="description"></textarea>
    </div>
  </form>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <label for="startDate">Fecha de inicio</label>
        <ng-datepicker  [(ngModel)]="date"></ng-datepicker>
      </div>
      <div class="col-md-6">
        <label for="endDate">Fecha de fin</label>
        <ng-datepicker  [(ngModel)]="dateEnd"></ng-datepicker>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-success" (click)="onSubmit()" [disabled]="!form.valid">Enviar</button>
</div>


<!-- <datepicker [(ngModel)]="model.firstDate" [viewFormat]="'DD/MM/YYYY'" [modelFormat]="'YYYY-MM-DD'"  [id]="'firstDate'" [label]="'To'"></datepicker> -->
