.register{
  height: 92%;
}

.information1{
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 5%;
}


.information{
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 5%;
}

form{
  margin-top: 11%;
}

.regStepText{
  padding-top: 4px;
  background-color: #D9D9D9;
}

.regStep{
  margin-top: -5px;
  background-color: #2D303E;
  color: #ffffff;
  font-family: "Roboto"
}

.regStep h2 {
  margin-top: 25%;
}

.regStep  p {
  font-size: 28px;
  margin-top: 8%;
}

input{
  padding: 5%;
}

.regStepInfo{
  padding: 10% 10% 49% 10%;
  color: #818181
}

.web{
  display: table;
}



button{
  padding: 5%;
  width: 35%;
  margin-top: 10%;
  background-color: #2D303E;
  color: #ffffff;
  border-radius: 25px;
  cursor: pointer;
}

.info{
  margin-top: -27%;
}

.stepIndicator{
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #ffffff;
  margin-top: 35%;
}


@media only screen and (max-width: 768px){
  .regStepInfo{
    padding: 10% 10% 20% 10%;
  }
  .regStepText{
    margin-top: 5%;
  }
}

@media only screen and (max-width: 462px){
  .regStepText h2{
    font-size: 20px;
  }
  .regStepText p {
    font-size: 20px;
  }
}
