<div class="register container-fluid animated fast zoomIn" *ngIf="state == 1">
  <div class="row fill">
    <div class="col-md-6 col-12 information1 map">
      <div class="row">
        <div class="col-md-9">
          <form class="form" [formGroup] = "form" (keydown.enter)="denied($event)">
            <div class="form-group first">
              <input type="text" class="form-control username" placeholder="Email" name="email" formControlName="email" [(ngModel)]="email" (ngModelChange)="onChange($event)">
              <small class="text-danger" *ngIf="!validEmail && form.controls.email.touched"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Ingrese un email valido</small>
              <small class="text-danger" *ngIf="used && form.controls.email.touched"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Email ya utilizado</small>
            </div>
            <div class="form-group">
              <input type="password" class="form-control username" placeholder="Contraseña" name="password" formControlName="password" [(ngModel)]="password" (ngModelChange) = "onChangePass($event)">
              <small class="text-danger" *ngIf="!validPassword && form.controls.password.touched"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Contraseñas aceptadas(1 letra, 1 numero,1 simbolo especial, 8 caracteres)</small>
            </div>
            <div class="form-group second">
              <input type="text" class="form-control username" placeholder="Nombre" name="firstName" formControlName="firstName">
            </div>
            <div class="form-group first">
              <input type="text" class="form-control username" placeholder="Apellido(s)" name="lastName" formControlName="lastName">
            </div>
            <button [routerLink]="['home']"  class="btn button float-left">Atras</button>
            <button class="btn button float-right" [disabled] = "!form.valid || used || !validEmail || !validPassword" (click) = "next()">Siguiente</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 regStepText map">
      <div class="row regStep">
        <div class="col-2">
          <div class="stepIndicator"></div>
        </div>
        <div class="col-3 text-center">
          <h2>PASO 1</h2>
        </div>
        <div class="col-7">
          <p>Informacion requerida!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 regStepInfo hidden-sm-down">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="register container-fluid animated fast zoomIn" *ngIf="state == 2">
  <div class="row fill">
    <div class="col-md-6 col-12 information map">
      <div class="row">
        <div class="col-md-9">
          <form class="form" [formGroup] = "form2" (keydown.enter)="denied2($event)">
            <label for="status">Estatus</label>
            <select class="form-control" name="position" formControlName="position" id="status" (change)="position($event)">
              <option [value]="position" *ngFor="let position of positions">{{position}}</option>
            </select>
            <br>
            <div class="form-group first" *ngIf="selectedPosition == 0">
              <input type="text" class="form-control username" placeholder="Lugar" formControlName="work">
              <small class="form-text text-muted">{{selectedMsg}}</small>
            </div>
            <div class="form-group first" *ngIf="selectedPosition == 1">
              <input type="text" class="form-control username" placeholder="Lugar" formControlName="study">
              <small class="form-text text-muted">{{selectedMsg}}</small>
            </div>
            <div class="form-group first" *ngIf="selectedPosition == 2">
              <input type="text" class="form-control username" placeholder="Lugar" formControlName="work">
              <small class="form-text text-muted">{{selectedMsgW}}</small>
              <input type="text" class="form-control username" placeholder="Lugar" formControlName="study">
              <small class="form-text text-muted">{{selectedMsgS}}</small>
            </div>
            <button  (click)="back()" class="btn button float-left">RETURN</button>
            <button  class="btn button float-right"  (click) = "next()">NEXT</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 regStepText col-12 map">
      <div class="row regStep">
        <div class="col-4">
          <h2>PASO 1</h2>
        </div>
        <div class="col-8">
          <p>Informacion requerida!</p>
        </div>
      </div>
      <div class="row regStep">
        <div class="col-2">
          <div class="stepIndicator"></div>
        </div>
        <div class="col-3">
          <h2>PASO 2</h2>
        </div>
        <div class="col-7">
          <p>Cuentanos que haces</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 regStepInfo hidden-sm-down">
          <p>"Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="register container-fluid animated fast zoomIn" *ngIf="state == 3">
  <div class="row fill">
    <div class="col-md-6 information col-12 map">
      <div class="row">
        <div class="col-md-9">
          <label for="habilities">Habilidades</label>
          <tag-input [(ngModel)]='habilities' id="habilities" [theme]="'bootstrap'" placeholder = 'Habilidad' secondaryPlaceholder="Añadir habilidad"></tag-input>
          <button  (click)="back()" class="btn button float-left">Atras</button>
          <button  class="btn button float-right"  (click) = "next()">Siguiente</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 regStepText col-12 map">
      <div class="row regStep">
        <div class="col-4">
          <h2>PASO 1</h2>
        </div>
        <div class="col-8">
          <p>Informacion requerida!</p>
        </div>
      </div>
      <div class="row regStep">
        <div class="col-4">
          <h2>PASO 2</h2>
        </div>
        <div class="col-8">
          <p>Cuentanos que haces</p>
        </div>
      </div>
      <div class="row regStep">
        <div class="col-2">
          <div class="stepIndicator"></div>
        </div>
        <div class="col-3">
          <h2>PASO 3</h2>
        </div>
        <div class="col-7">
          <p>Habilidades</p>
        </div>
      </div>
      <div class="row regStepInfo">
        <div class="col-12 hidden-sm-down">
          <p>"Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="register container-fluid animated fast zoomIn" *ngIf="state == 4">
  <div class="row fill">
    <div class="col-md-6 information col-12 map">
      <div class="row">
        <div class="col-md-9">
          <label for="interest">Intereses</label>
          <tag-input [(ngModel)]='interest' id="interest" [theme]="'bootstrap'" placeholder = 'Interes' secondaryPlaceholder="Añadir interes"></tag-input>
          <button  class="btn button float-left"  (click) = "back()">Atras</button>
          <button  class="btn button float-right"  (click) = "onSumbitReg()">Registrarte!</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 regStepText col-12 map">
      <div class="row regStep">
        <div class="col-4">
          <h2>PASO 1</h2>
        </div>
        <div class="col-8">
          <p>Informacion requerida!</p>
        </div>
      </div>
      <div class="row regStep">
        <div class="col-4">
          <h2>PASO 2</h2>
        </div>
        <div class="col-8">
          <p>Cuentanos que haces</p>
        </div>
      </div>
      <div class="row regStep">
        <div class="col-4">
          <h2>PASO 3</h2>
        </div>
        <div class="col-8">
          <p>Habilidades</p>
        </div>
      </div>
      <div class="row regStep">
        <div class="col-2">
          <div class="stepIndicator"></div>
        </div>
        <div class="col-3">
          <h2>PASO 4</h2>
        </div>
        <div class="col-7">
          <p>Intereses</p>
        </div>
      </div>
    </div>
  </div>
</div>
