 .imgLanding{
   width: 100%;
   border-right: 2px solid white;
   line-height: 10px;
 }
 .imgLanding img{
   width: 50%;
   margin-top: 12%;
 }

 .imgContainer{
   text-align: center;
 }

.cincuenta{
  width: 50%;
}
 .text{
   color: #fff;
   padding: 10%;
 }

 .text p {
  text-align: justify;
  text-justify: inter-word;
 }

 .events p {
  text-align: justify;
  text-justify: inter-word;
 }

 .emp{
   margin-top: 5%;
 }

 .emp p{
  text-align: justify;
  text-justify: inter-word;
 }

 .tecno p{
  text-align: justify;
  text-justify: inter-word;
 }

 .header{
   padding: 7% 0;
 }

 .sign{
   border-radius: 50px;
 }
 .arrow{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 40px 40px;
  border-color: #2D303E transparent transparent transparent;
  z-index: 3;
  margin: -1px auto;
}

.arrow2{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 40px 40px;
  border-color: #d8d8d8 transparent transparent transparent;
  z-index: 3;
  margin: -1px auto;
}

.text > p {
  color: rgba(255,255,255,.5)
}

.header{
  background-color: #2D303E;
}
.sign{
  background: #fc641e;
  color: #fff;
}

.second{
  border-top: 5px solid #2D303E;
}

.images{
  height: 20vh;
  position: relative;
}

.images img{
  height: 100%;
  position: absolute;
  transition: all .3s ease;
  z-index: 1;
}

.images img:hover{
  transform: scale(1.3,1.3);
  z-index: 2;
  cursor: pointer;
}

.sede1{
  margin-left: 17%;
}
.sede2{
  margin-left: 27%;
}
.sede3{
  margin-left: 37%;
}
.sede4{
  margin-left: 47%;
}
.sede5{
  margin-left: 57%;
}

.second{
  background-color: #d8d8d8;
  padding-bottom: 5%
}

.second button{
  background-color:#707070;
  border-radius: 50px;
  margin-top: 5%;
  color: #ffffff;
}

h2{
  font-size: 28px;
}
p{
  padding: 0 10%;
}

.events{
  border-right: 2px solid #fff
}


.third{
  background-color: #2d303e;
  padding: 5% 0;
  color: #ffffff;
}

.third button{
  background-color: #d5552a;
  color: #ffffff;
  padding: 1% 5%;
  border-radius: 50px;
}

.fourth{
  background-color: #efc75e;
  padding: 5% 0;
  
}

.fourth button{
  background-color: #ffffff;
  color: #000000;
  padding: 1% 5%;
  border-radius: 50px;
}

.fifth{
  background-color:#d8d8d8;
  padding: 7% 10%;
}

.fifth button{
  background-color: #d5552a;
  color: #ffffff;
  padding: 1% 5%;
  margin-top: 5%;
  border-radius: 50px;
}

.imgRocket{
  margin-left: 25%;
}

.imgWeb{
  margin-left: 25%;
}


.sixth{
  background-color: #2d303e;
  padding-bottom: 10%;
}

.h2{
  border-bottom: 1px solid #ffffff;
  margin: 0 auto;
  color: #ffffff;
  
}

.verEvento{
  margin-bottom: 20px;
}

.tecno{
  margin-top: 5%;
}

.second-hide{
  color: #ffffff;
  /* box-shadow: inset 139px 2px 88px -1px rgba(0,0,0,0.75); */
  box-shadow: inset 400px 0px 200px -1px rgba(0,0,0,1);
  
  /* background: url('http://www.calgary.ca/CA/city-manager/scripts/about-us/webparts/images/ourHistory_retina.jpg'); */
  padding: 5%;
}

.event1{
  background: url('../../../../assets/img/events/event1.jpg');
  background-size: cover;
  background-position: center;
}

.event2{
  background: url('../../../../assets/img/events/event2.png');
  background-size: cover;
  background-position: center;
}

.event3{
  background: url('../../../../assets/img/events/event3.jpg');
  background-size: cover;
  background-position: center;
}

.event4{
  background: url('../../../../assets/img/events/event4.png');
  background-size: cover;
  background-position: center;
}


.second-hide h2{
  padding: 2%;
}

.options{
  bottom: 0;
}


.tab{
  cursor: pointer;
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social {
  -webkit-transform: scale(0.8);  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

#social-fb:hover {
  color: #3B5998;
}
#social-tw:hover {
  color: #4099FF;
}
#social-gp:hover {
  color: #d34836;
}
#social-em:hover {
  color: #f39c12;
}

.allieImg{
  height: 5%;
}

.colImg{
  height: 70%;
}