<div class="container-fluid">
  <div class="row justify-content-center  header">
    <div class="col-md-6 col-12 imgLanding text-center">
      <img src="../../assets/img/landing_tomato.png" alt="" class="mx-auto">
    </div>
    <div class="line"></div>
    <div class="col-md-6 col-12">
      <div class="text-center text">
        <h2>Tomato Valley es: Emprendimiento, Ciencia y Tecnología</h2>
        <p>Somos una asociación que tiene como objetivo promover el emprendimiento de base tecnologíca así como la ciencia y
          tecnología. En Tomato sabemos que la economia del conocimiento y el conocimiento colectivo son los fundamentos
          para poder desarrollar nuestra región.</p>
        <button type="button" name="button" class="btn btn-block sign" [routerLink]="['/register']">UNETE</button>
      </div>
    </div>
  </div>
  <div class="row second">
    <div class="col-12 text-center">
      <div class="arrow align-self-center"></div>
    </div>
    <div class="col-md-6 col-12 text-center events">
      <h2>EVENTOS</h2>
      <p>Unos de los pilares de nuestro trabajo es crear los espacios necesarios para que la adopción de las tecnologías sea
        mas fácil y que los emprendedores puedan crecer. Por esto organizamos eventos como: Tomato Nights, Noches de Pitcheo,
        AgroNoches, DemoDay, Startupeando, Space Apps Challenge (NASA), Startup Weekend, Hackatones, Talleres, Cursos y Conferencias.
      </p>
      <button type="button" name="button" class="btn verEvento" (click)="showEvent()">Ver eventos</button>
    </div>
    <div class="col-md-6 col-12 text-center">
      <h2>SEDES</h2>
      <div class="row images ">
        <img src="../../assets/img/sedes{{i}}.jpg" alt="" class="col-md-3 col-3 rounded-circle" *ngFor="let i of images; let j = index"
          [ngClass]="{'sede1': j===0,'sede2':j===1,'sede3':j===2,'sede4':j===3,'sede5':j===4}">
      </div>
      <button type="button" name="button" class="btn">Ver sedes</button>
    </div>
  </div>
  <div class="row second-hide animated" [ngClass]="{fadeIn: showEvents == 1,slideOutLeft: showEvents == 0,'event1': active == 0,'event2': active == 1,'event3': active == 2,'event4': active == 3}" *ngIf="closeTab == 0">
    <div class="col-12 col-md-4">
      <div class="row" *ngFor="let e of events; let i = index">
        <div *ngIf="active == i" class="animated fadeIn">
          <div class="row">
            <div class="col-1">
              <i class="fa fa-times close text-white" aria-hidden="true" (click)="close()"></i>
            </div>
            <div class="col-12">
              <h2>{{e.name}}</h2>
            </div>
            <div class="col-12">
              <p>{{e.description}}</p>
            </div>
            <div class="col-12">
              Direccion: {{e.adress.street}}
            </div>
            <div class="col-12">
              Telefono Contacto: {{e.phone}}
            </div>
            <div class="col-12">
              Correo contaco: {{e.email}}
            </div>
            <div class="col-6">
              Empieza: {{e.myDate | slice:0:10}}
            </div>
            <div class="col-6">
              Termina: {{e.myDateEnd | slice:0:10}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 options">
      <div class="row">
        <div class="col-3 tab" *ngFor="let l of options; let i = index;" (click)="option(i)">Evento {{i + 1}}</div>
      </div>
    </div>

  </div>
  <div class="row third ">
    <div class="col-md-6 col-12 text-center emp">
      <h2>EMPREDIMIENTO</h2>
      <p>Nuestro trabajo es fortalecer la comunidad de emprendedores de base tecnológica que existen en la región. Trabajamos
        para darles las herramientas necesarias para poder ser competitivos con los demás estados y lograr mejores empresas
        y proyectos.
      </p>
      <button type="button" name="button" class="btn">Ver Empredimientos</button>
    </div>
    <div class="col-md-6 col-12 imgContainer">

      <img src="../../assets/img/rocket.png" alt="" class="cincuenta">

    </div>
  </div>
  <div class="row fourth">
    <div class="col-md-6 col-12 imgContainer">
      <img src="../../assets/img/webpage.png" alt="" class="cincuenta">
    </div>
    <div class="col-md-6 col-12 text-center tecno">
      <h2>TECNOLOGIA</h2>
      <p>Buscamos tener lo mejor en tecnología en nuestro estado y que sea accesible para todos. Nos preocupa que los estudiantes
        puedan acceder a mejores tecnologías para poder llegar mejor preparados a las empresas y con esto llevar la mejora
        en cadena a cada uno de los espacios de nuestro estado.
      </p>
      <button type="button" name="button" class="btn">Leer más</button>
    </div>
  </div>
  <div class="row fifth">
    <div class="col-md-6 col-12 text-center">
      <h2>ALIADOS</h2>
      <div class="row">
        
        <img src="./assets/img/allies/{{a.imgUrl}}" alt="" class="col-md-6 col-12 allieImg" *ngFor="let a of allies">
      </div>
      <button type="button" name="button" class="btn verEvento" >Ver Aliados</button>
      
    </div>
    <div class="col-md-6 col-12 text-center">
      <h2>COLABORADORES</h2>
      <div class="row">
        <img src="../../assets/img/5.png" class="col-md-6 col-12 allieImg" alt="">
        <img src="../../assets/img/5.png" class="col-md-6 col-12 allieImg" alt="">
        
      </div>
    </div>
  </div>
  <div class="row sixth ">
    <div class="col-12">
      <div class="arrow2"></div>
    </div>
    <div class="col-12">
      <h2 class="h2 col-md-4 col-10 text-center">Contactanos</h2>
    </div>
    <br>
    <div class="col-md-6 col-12 ">
      <div class="text-center center-block">
          <div class="row">
            <div class="col-12 text-white">
              <a href="#"><i id="social-fb" class="fa fa-facebook-square fa-5x social"></i></a>
            </div>
            <div class="col-12">
              <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-5x social"></i></a>
              
            </div>
            <div class="col-12">
              <a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-5x social"></i></a>
              
            </div>
            <div class="col-12">
              <a href="#"><i id="social-em" class="fa fa-envelope-square fa-5x social"></i></a>
              
            </div>
          </div>
</div>
    </div>
    <div class="col-md-6 col-12 text-white">
        <form [formGroup]="form" (submit)="onSubmit()" >
          <div class="row">
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label >Nombre</label>
                    <input type="text" class="form-control"  placeholder="Nombre" formControlName="nombre">
                  </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label >Correo</label>
                    <input type="email" class="form-control"  placeholder="Email" formControlName="email">
                  </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label >Sede</label>
                    <select  class="form-control" formControlName="sede">
                      <option [value]="s.name" *ngFor="let s of sedes">{{s.name}}</option>
                    </select>
                  </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label >Asunto</label>
                    <input type="email" class="form-control"  placeholder="Asunto" formControlName="asunto">
                  </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label >Mensaje</label>
                    <textarea class="form-control"  placeholder="Mensaje" formControlName="mensaje"></textarea>
                  </div>
            </div>
          </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div>
</div>



