<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 menu">
      <div class="container">
        <div class="row">
          <div class="col-sm-10">
            <div class="card">
              <ul class="nav nav-pills nav-justified">
                <li class="nav-item" *ngFor="let o of options; let i = index;">
                  <span class="nav-link" [ngClass]="{active: activeIndex === i}" (click)="activeIndex = i;show(i)">{{o}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
        <div class="container-fluid">
          <div class="col-md-12 animated fast zoomIn" *ngIf="selected == 0">
            <div class="row">
              <div class="col-md-4" *ngFor="let e of events | orderBy">
                <div class="card">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="imgContainer">
                          <img src="http://www.webshree.com/images/bannerdesigning.jpg" alt="">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-4">Del: {{e.myDate}}</div>
                          <div class="col-sm-4">Al: {{e.myDateEnd}}</div>
                          <div class="col-sm-4" *ngIf="e.price">${{e.price}}</div>
                          <div class="col-sm-4" *ngIf="!e.price">GRATIS!</div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <p>{{e.name}}</p>
                      </div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-4">En: {{e.city}}</div>
                          <div class="col-sm-4">
                            <div class="row">
                              <div class="col-sm-4">
                                <i class="fa fa-check confirm" aria-hidden="true"></i>
                              </div>
                              <div class="col-sm-4">
                                <i class="fa fa-star-o maybe" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <i class="fa fa-share float-right go " aria-hidden="true" (click) ="information(e._id)"></i>
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
          <div class="col-md-12 animated fast zoomIn" *ngIf="selected == 1">
            <div class="row">
              <div class="col-md-12" *ngFor="let u of updates | orderBy">
                  <div class="updates ">
                    <div class="card text-white" [ngClass]="{neutral:u.priority === 1, urgent:u.priority === 2,low:u.priority === 0}">
                      <div class="card-header text-muted">
                          <span class="city text-primary">{{u.city}}</span><br>
                          <span class="sede">{{u.sede}}</span>
                      </div>
                      <div class="card-block">
                        <p class="card-text">{{u.info}}</p>
                      </div>
                      <div class="row">
                        <div class="col-md-6 text-left">
                          <small>{{u.date}}</small>
                        </div>
                        <div class="col-md-6 text-right">
                          <small>{{u.username}}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                <br>
              </div>
            </div>
          </div>
          <div class="col-md-12 animated fast zoomIn" *ngIf="selected == 2">
            <div class="row">
              <div class="col-md-12" *ngFor="let c of companies | orderBy">
                <div class="card">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="imgContainer">
                          <img src="http://www.coreintegra.com/wp-content/uploads/2014/12/banner-company-profile2.jpg" alt="">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-12">Nombre: {{c.name}}</div>
                          <div class="col-sm-12">Descripción: {{c.description}}</div>
                          <div class="col-sm-6">Telefono: {{c.number.phone}}</div>
                          <div class="col-sm-6" *ngIf="c.number.cellphone">Celular: {{c.number.cellphone}}</div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <p>{{c.email}}</p>
                      </div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-4">CEO: {{c.user}}</div>
                          <div class="col-sm-4">
                            <div class="row">
                              <div class="col-sm-4">
                                <i class="fa fa-check confirm" aria-hidden="true"></i>
                              </div>
                              <div class="col-sm-4">
                                <i class="fa fa-star-o maybe" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <i class="fa fa-share float-right go " aria-hidden="true" (click) ="company(c.name)"></i>
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
