/*
yellow = #F3BD75
red = #FF89AB
blue = #7FEDEE
green = #B5DD7A
*/



    .dashboard{
      background-color: #757575
    }



    i{
      font-size: 20px;
      margin-right: 5%;
      transition: all .3s ease;
      cursor: pointer;
    }



    .confirm:hover{
      transform: scale(1.5,1.5);
      color: #B5DD7A;
    }
    .maybe:hover{
      transform: scale(1.5,1.5);
      color: #FF89AB;
    }

    .go:hover{
      transform: scale(2,2);
      color: #CEC075;
    }

    .color{
      border-color: red;
    }

    .card{
      padding: 1%;
    }

    .urgent{
      background-color: #FF89AB;
    }
    .neutral{
      background-color: #7FEDEE;
    }
    .low{
      background-color: #B5DD7A;
    }

    .footer{
      background-color: #6CD4FF;
    }

    li{
      cursor: pointer;
    }

    .updates{
      transition: all .3s ease;
      cursor: pointer;
    }

    .updates:hover{
      transform: scale(1.02,1.02);
    }

    .imgContainer{
      width: 100%;
    }

    .imgContainer img {
      width: 100%;
    }

    .menu{
      margin-top: 2%;
      margin-bottom: 2%;
    }
